/* Vordefinierte Klassen für .less */
.font {

}
.no-print, .no-print *
{
		@media print
    {
        display: none !important;
    }
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flex-reverse {
	.flex;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.flex-i {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.flex-inline {
	display: -webkit-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
}
.flex-item(@grow: 1, @shrink: 1, @basis: auto) {
    -webkit-box-flex: @grow;
    -ms-flex: @grow @shrink @basis;
    flex: @grow @shrink @basis;
}
.flex-item-no-shrink {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.flex-auto {
	-webkit-box-flex: 1;-ms-flex: auto;flex: auto;
}
.flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-wrap-magic-after {
	.flex-wrap;
	&::after {
		content: '';
		-webkit-box-flex: 1000000000;
		-ms-flex-positive: 1000000000;
		flex-grow: 1000000000;
	}
}
.flex-wrap-magic-before {
	.flex-wrap;
	&::before {
		content: '';
		-webkit-box-flex: 1000000000;
		-ms-flex-positive: 1000000000;
		flex-grow: 1000000000;
	}
}
.flex-direction-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-direction-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.flex-direction-column-reverse {
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
.justify-content(@method: center) {
	-webkit-box-pack: @method;
	-ms-flex-pack: @method;
	justify-content: @method;
}
.align-content(@method: center) {
	-ms-flex-line-pack: @method;
	align-content: @method;
}
.align-items(@method: center) {
	-webkit-box-align: @method;
	-ms-flex-align: @method;
	-ms-grid-row-align: @method;
	align-items: @method;
}
.align-self(@method: center) {
	-ms-flex-item-align: @method;
	-ms-grid-row-align: @method;
	align-self: @method;
}
.order(@position) {
	-ms-flex-order:@position;
	order:@position;
}
.column(@value: 1) {
	-webkit-column-count: @value; /* Chrome, Safari, Opera */
	-moz-column-count: @value; /* Firefox */
	column-count: @value;
	@media (min-width: 481px) {
		p, h1, h2, h3 {
			&:first-child {
				margin-top: 0;
			}
		}
	}
	@media (max-width: 480px) {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
}
.transition(@target: all, @time: .2s, @curve: ease-in-out, @delay: 0s) {
	-webkit-transition: @target @time @curve @delay;
-moz-transition: @target @time @curve @delay;
-ms-transition: @target @time @curve @delay;
-o-transition: @target @time @curve @delay;
transition: @target @time @curve @delay;
}
.background-center {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.quick-gradient (@origin: left, @alpha: 0.2) {
	background-image: -webkit-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
	background-image: -moz-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
	background-image: -o-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
	background-image: -ms-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
	background-image: linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
}

.gradient(@origin: left, @start: #ffffff, @stop: #000000) {
	background-color: @start;
	background: -webkit-gradient(@origin, from(@start), to(@stop));
	background: -webkit-linear-gradient(@origin, @start, @stop);
	background: -moz-linear-gradient(@origin, @start, @stop);
	background: -o-linear-gradient(@origin, @start, @stop);
	background: -ms-linear-gradient(@origin, @start, @stop);
	background: linear-gradient(@origin, @start, @stop);
}
.animatedgradient(@x:200%,@y:200%,@t:25s) {
background-size: @x @y;
-webkit-animation: animatedgradient @t ease infinite;
-moz-animation: animatedgradient @t ease infinite;
-o-animation: animatedgradient @t ease infinite;
animation: animatedgradient @t ease infinite;
}
@-webkit-keyframes animatedgradient {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@-moz-keyframes animatedgradient {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@-o-keyframes animatedgradient {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@keyframes animatedgradient {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
.box-shadow (@horizontal:0,@vertical:0,@blur:6px,@spread:0,@color:fade(black,15%)) {
	-webkit-box-shadow: @horizontal @vertical @blur @spread @color;
-moz-box-shadow: @horizontal @vertical @blur @spread @color;
box-shadow: @horizontal @vertical @blur @spread @color;
}
.text-shadow(@horizontal:0,@vertical:0,@blur:3px,@color:fade(black,15%)) {
	text-shadow:  @horizontal @vertical @blur @color;
}
.box-shadow-inset (@horizontal:0,@vertical:0,@blur:6px,@spread:0,@color:fade(black,15%)) {
	-webkit-box-shadow: inset @horizontal @vertical @blur @spread @color;
-moz-box-shadow: inset @horizontal @vertical @blur @spread @color;
box-shadow: inset @horizontal @vertical @blur @spread @color;
}
.reflect (@length: 50%, @opacity: 0.2){
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(@length, transparent), to(rgba(255,255,255,@opacity)));
}
.outline {
	outline: 1px solid red;
}
.scale (@x:1,@y:@x) {
	-webkit-transform: scale(@x,@y);
	-ms-transform: scale(@x,@y);
	transform: scale(@x,@y);
}
.break-word {
	overflow-wrap: break-word;
word-wrap: break-word;
-ms-word-break: break-all;
word-break: break-all;
word-break: break-word;
-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}
.invert(@val: 100%) {
	filter: invert(@val);
	-webkit-filter: invert(@val);
}
.button(@color) {
	-webkit-appearance: none;-moz-appearance: none;appearance: none;
	border: 0;
	background-color: @color;
	text-decoration: none;
	padding: 1em 2em;
	text-align: center;
	display: inline-block;
	font-family: inherit;
	font-weight: bold;
	font-size: .8em;
	cursor: pointer;
	position: relative;
	border-radius: 2px;
	color: white;
	.quick-gradient(top,.05);
	.transition(all,.2s,ease-in,.5s);
	&:hover {
		.transition(all,.2s,ease-out,0);
		background-color: darken(@color, 10%);
		&::before {
			background-color: darken(@color, 20%);
		}
	}
	&:active {
		background-color: darken(@color, 15%);
	}
	&::before {
		background-color: darken(@color, 10%);
	}
	a {
		text-decoration: none;
		display: block;
	}
}
.fa {
	> span {
		.font;
	}
	&::before {
		font-family: 'FontAwesome';
	}
}
.ico {
	.flex;
	padding: 0 !important;
	span {
		padding: 1em 2em 1em 0;
		text-align: left;
		.font;
	}
	&::before {
		.center;
		font-weight: normal;
		padding: 1em;
		margin-right: 1.5em;
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
		.transition(all,.2s,ease-in,.5s);
	}
	&:hover {
		&::before {
			.transition(all,.2s,ease-out,0);
		}
	}
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.pulse {
	.animated;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@-webkit-keyframes fadeIn {
	from { opacity: 0; } to { opacity: 1; }
}
@keyframes fadeIn {
	from { opacity: 0; } to { opacity: 1; }
}

.fadeIn(@duration: 1s, @delay: 2s) {
	opacity: 0;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-duration: @duration;
	        animation-duration: @duration;
	-webkit-animation-delay: @delay;
	        animation-delay: @delay;
}
.blur(@blur: 5px) {
	-webkit-filter: blur(@blur);
	filter: blur(@blur);
}
.macruleslinuxokay {
	&::-webkit-scrollbar {
		height: 0 !important;
		width: 0 !important;
	}
}
.windowssucks {
	&::-webkit-scrollbar {
		height: 3px !important;
	}
}
.reset {
	display: block;
	list-style-type: none;
	border: 0;
	outline: none;
	padding: 0;
	font-weight: normal;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-decoration: none;
	border-radius: 0;
	a {
		text-decoration: none;
	}
}
img {
	width: 100%;
	height: auto;
}
.center {
	.flex;
	.justify-content;
	.align-items;
}
