/**
* PDF CSS
*
* margin: 27mm 20mm 25mm 25mm;
* (DIN A4 Hochformat: 210x297mmm)
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
html, body {
  margin: 0 padding:0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
/* .design-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5mm;
  background: red;
} */
.falzmarke {
  position: absolute;
  width: 5mm;
  height: 1pt;
  background: #eee;
  right: 0mm;
}
.falzmarke.fmpos-1 {
  top: 87mm;
}

.falzmarke.fmpos-2 {
  top: 192mm;
}

.lochmarke {
  position: absolute;
  width: 5mm;
  height: 1pt;
  background: #eee;
  left: 0mm;
}
.lochmarke.lm-top {
  top: 108mm;
}
.lochmarke.lm-center {
  top: 148mm;
}
.lochmarke.lm-bottom {
  top: 188mm;
}

.header {
  padding: 17mm 20mm 5mm 25mm;
  font-size: 18pt;
  margin-bottom: 5mm;
}

.qr-code {
  width: 15mm;
  position: absolute;
  top: 17mm;
  right: 10mm;
  text-align: center;
}
.qr-code img {
  width: 100%;
}
.qr-code span {
  font-size: 6pt;
  font-weight: bold;
  color: rgb(170, 170, 170);
}

.logo {
  margin-top: 17mm;
  margin-bottom: 5mm;
  height: 10mm;
  width: auto;
}

.aside {
  float: left;
  width: 42mm;
  margin-left: 5mm;
  margin-top: 17mm;
  padding-left: 5mm;
  /* height: 245mm; */
  color: #34393F;
  border-left: 1px solid #eee;
  margin-bottom: 5mm;
}

.aside>.rechnung {
  display: block;
  font-size: 12pt;
}

.aside>.date {
  display: block;
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 12pt;
}

.aside>.address {
  display: block;
  font-size: 9pt;
  margin-bottom: 12pt;
  line-height: 9pt;
}

.aside>.contact {
  display: block;
  font-size: 9pt;
  margin-bottom: 12pt;
  color: #278cd0;
  font-weight: bold;
}

.aside>.stnr {
  display: block;
  font-size: 9pt;
}

.main {
  float: left;
  width: 108mm;
  padding-left: 25mm;
  margin-top: 0;
  padding-bottom: 0;
}

.main>.label-rechnungsnummer {
  display: block;
  font-size: 8pt;
  text-transform: uppercase;
}

.main>.rechnungsnummer {
  display: block;
  font-size: 9pt;
  font-weight: bold;
}

.main>.empfaenger {
  margin-bottom: 5mm;
  /* text-align: right; */
}

.main>.empfaenger>span {
  display: block;
  font-size: 10pt;
  line-height: 10pt;
}

.main>.empfaenger>.company {}

.main>.empfaenger>.name {}

.main>.empfaenger>.street {}

.main>.empfaenger>.zip-city {}

.main>.project {
  margin-top: 5mm;
  font-size: 9pt;
  line-height: 9pt;
}

.main>.project>span {
  display: block;
}

.main>.anweisung {
  font-size: 9pt;
  line-height: 9pt;
  color: #5b5b5b;
  margin-top: 5mm;
}

.footer {
  position: absolute;
  bottom: 10mm;
  right: 0;
  text-align: center;
  font-size: 8pt;
  line-height: 8pt;
  color: #676767;
  padding: 5mm;
  padding-right: 10mm;
  border-top: 1px solid #eee;
}
.table-kostenuebersicht {
  padding-top: 10mm;
  margin-left: 25mm;
  margin-right: 20mm;
}
.kostenuebersicht {
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 8pt;
  line-height: 8pt;
  margin-top: 10mm;
  display: block;
}
table {
  display: table;
  border-collapse: collapse;
  overflow-x: auto;
  text-align: left;
  font-size: 9pt;
  line-height: 9pt;
  margin-bottom: 10mm;
}
table thead {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  color: #6c6c6c;
}
table tbody {
  font-size: 90%
}
table tr th, table tr td {
  padding: .3em;
  font-size: 9pt;
  line-height: 9pt;
  vertical-align: top;
}
table tr td:first-child {
  width: 10mm;
}
table tr td.article {
  width: 70mm;
}
table tr.last {
  font-weight: bold;
}
table tr.last td {
  border-top: 1px solid #ccc;
}

.comment {
  font-size: 8pt;
  color: rgb(125, 125, 125);
}
