html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}
* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0 !important;
}
*::-webkit-scrollbar-thumb {
  background-color: #bbb;
}
*::-webkit-scrollbar-track {
  background: #eee;
}
::selection {
  background: #222222;
  color: white;
}
::-moz-selection {
  background: #222222;
  color: white;
}
hr {
  display: block;
  border: 0;
  height: 3px;
  width: 100%;
  background-color: #222222;
}
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
iframe {
  border: 0;
  overflow: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #222222;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  border: none;
  display: block;
  max-width: 100%;
  outline-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  outline: none;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.flex-i {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-inline {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}
.flex-item-no-shrink {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-wrap-magic-after {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-wrap-magic-after::after {
  content: '';
  -webkit-box-flex: 1000000000;
  -ms-flex-positive: 1000000000;
  flex-grow: 1000000000;
}
.flex-wrap-magic-before {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-wrap-magic-before::before {
  content: '';
  -webkit-box-flex: 1000000000;
  -ms-flex-positive: 1000000000;
  flex-grow: 1000000000;
}
.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-direction-column-reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.background-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 18%;
  }
  50% {
    background-position: 100% 83%;
  }
  100% {
    background-position: 0% 18%;
  }
}
@-moz-keyframes animatedgradient {
  0% {
    background-position: 0% 18%;
  }
  50% {
    background-position: 100% 83%;
  }
  100% {
    background-position: 0% 18%;
  }
}
@-o-keyframes animatedgradient {
  0% {
    background-position: 0% 18%;
  }
  50% {
    background-position: 100% 83%;
  }
  100% {
    background-position: 0% 18%;
  }
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 18%;
  }
  50% {
    background-position: 100% 83%;
  }
  100% {
    background-position: 0% 18%;
  }
}
.outline {
  outline: 1px solid red;
}
.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.fa > span {
  font-family: "Source Sans Pro", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fa::before {
  font-family: 'FontAwesome';
}
.ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 !important;
}
.ico span {
  padding: 1em 2em 1em 0;
  text-align: left;
  font-family: "Source Sans Pro", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ico::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  font-weight: normal;
  padding: 1em;
  margin-right: 1.5em;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-transition: all .2s ease-in .5s;
  -moz-transition: all .2s ease-in .5s;
  -ms-transition: all .2s ease-in .5s;
  -o-transition: all .2s ease-in .5s;
  transition: all .2s ease-in .5s;
}
.ico:hover::before {
  -webkit-transition: all .2s ease-out 0;
  -moz-transition: all .2s ease-out 0;
  -ms-transition: all .2s ease-out 0;
  -o-transition: all .2s ease-out 0;
  transition: all .2s ease-out 0;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
  50% {
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05);
  }
  to {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
  50% {
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05);
  }
  to {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}
.pulse {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.macruleslinuxokay::-webkit-scrollbar {
  height: 0 !important;
  width: 0 !important;
}
.windowssucks::-webkit-scrollbar {
  height: 3px !important;
}
.reset {
  display: block;
  list-style-type: none;
  border: 0;
  outline: none;
  padding: 0;
  font-weight: normal;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
}
.reset a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.font {
  font-family: "Source Sans Pro", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
address {
  display: block;
  list-style-type: none;
  border: 0;
  outline: none;
  padding: 0;
  font-weight: normal;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
}
address a {
  text-decoration: none;
}
.msg {
  padding: 1em;
  font-weight: bold;
  background: white;
  color: #3498db;
  border-radius: 3px;
  margin: 1em 0;
  border: 2px solid #3498db;
}
.msg a {
  color: white;
  background: #3498db;
  border-radius: 3px;
  padding: 0 .3em;
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}
.msg a:hover {
  background: #217dbb;
}
.msg .error {
  color: red;
}
body {
  background-color: #eeeaea;
  color: #24292e;
  font-family: "Source Sans Pro", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body img {
  background-color: transparent;
}
a {
  display: block;
  list-style-type: none;
  border: 0;
  outline: none;
  padding: 0;
  font-weight: normal;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
  display: inline;
  color: #3498db;
  font-weight: bold;
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}
a a {
  text-decoration: none;
}
q {
  quotes: "\00ab" "\00bb";
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  background-color: #124364;
  background: -webkit-gradient(35deg,from(#124364),to(#0a2639));
  background: -webkit-linear-gradient(35deg,#124364,#0a2639);
  background: -moz-linear-gradient(35deg,#124364,#0a2639);
  background: -o-linear-gradient(35deg,#124364,#0a2639);
  background: -ms-linear-gradient(35deg,#124364,#0a2639);
  background: linear-gradient(35deg,#124364,#0a2639);
  color: white;
  padding: 1em;
}
header .curdate {
  font-size: .8em;
  font-weight: bold;
}
@media (max-width: 980px) {
  header .curdate {
    display: none;
  }
}
header h1 color: @color_base
    a {
  color: white;
}
@media (max-width: 760px) {
  header h1 span {
    display: none;
  }
}
header nav ul {
  display: block;
  list-style-type: none;
  border: 0;
  outline: none;
  padding: 0;
  font-weight: normal;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
}
header nav ul a {
  text-decoration: none;
}
header nav ul li input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: #3498db;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  color: white;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  -webkit-transition: all .2s ease-in .5s;
  -moz-transition: all .2s ease-in .5s;
  -ms-transition: all .2s ease-in .5s;
  -o-transition: all .2s ease-in .5s;
  transition: all .2s ease-in .5s;
}
header nav ul li input:hover {
  -webkit-transition: all .2s ease-out 0;
  -moz-transition: all .2s ease-out 0;
  -ms-transition: all .2s ease-out 0;
  -o-transition: all .2s ease-out 0;
  transition: all .2s ease-out 0;
  background-color: #217dbb;
}
header nav ul li input:hover::before {
  background-color: #196090;
}
header nav ul li input:active {
  background-color: #1d6fa5;
}
header nav ul li input::before {
  background-color: #217dbb;
}
header nav ul li input a {
  text-decoration: none;
  display: block;
}
main {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}
.sort-items ul {
  display: block;
  list-style-type: none;
  border: 0;
  outline: none;
  padding: 0;
  font-weight: normal;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
}
.sort-items ul a {
  text-decoration: none;
}
.sort-items ul li a {
  display: block;
  list-style-type: none;
  border: 0;
  outline: none;
  padding: 0;
  font-weight: normal;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
  padding: 1em;
}
.sort-items ul li a a {
  text-decoration: none;
}
.sort-items ul li .removefilter {
  color: red;
}
.sort-items ul li .current {
  font-weight: bold;
}
.items {
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
  margin: .5em;
}
.items .item {
  display: block;
  list-style-type: none;
  border: 0;
  outline: none;
  padding: 0;
  font-weight: normal;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
  padding: 1em;
  border: 1px solid #eee;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 1em -0.5em rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 1em -0.5em rgba(0,0,0,0.3);
  box-shadow: 0 0 1em -0.5em rgba(0,0,0,0.3);
  margin-bottom: .5em;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items .item a {
  text-decoration: none;
}
.items .item:last-child {
  margin-bottom: 0;
}
.items .item .dateCreated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  margin-right: 1em;
}
.items .item .dateCreated .day {
  border: 2px solid #3498db;
  border-radius: .3em;
  padding: 1em;
}
.items .item .dateCreated .month {
  text-transform: uppercase;
  font-size: .9em;
  margin-top: .3em;
  font-weight: bold;
}
.items .item .dateCreated .year {
  font-size: .8em;
}
.items .item .content .renr {
  color: #222;
  font-size: .8em;
}
.items .item .content .name {
  font-size: 1.5em;
}
.items .item .content .name .company {
  color: #124364;
}
.items .item:hover {
  background: #b6daf2;
}
.items .item:active {
  background: #bab6b6;
}
.items .trashed {
  opacity: .5;
  color: #949494;
}
.updateform {
  padding: 1em;
  border: 1px solid #eee;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 1em -0.5em rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 1em -0.5em rgba(0,0,0,0.3);
  box-shadow: 0 0 1em -0.5em rgba(0,0,0,0.3);
  border-radius: 1em;
  margin: .5em;
}
.updateform h2 {
  color: #3498db;
}
.updateform .submit {
  margin-bottom: .5em;
}
.updateform .submit input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: #3498db;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  color: white;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  -webkit-transition: all .2s ease-in .5s;
  -moz-transition: all .2s ease-in .5s;
  -ms-transition: all .2s ease-in .5s;
  -o-transition: all .2s ease-in .5s;
  transition: all .2s ease-in .5s;
}
.updateform .submit input:hover {
  -webkit-transition: all .2s ease-out 0;
  -moz-transition: all .2s ease-out 0;
  -ms-transition: all .2s ease-out 0;
  -o-transition: all .2s ease-out 0;
  transition: all .2s ease-out 0;
  background-color: #217dbb;
}
.updateform .submit input:hover::before {
  background-color: #196090;
}
.updateform .submit input:active {
  background-color: #1d6fa5;
}
.updateform .submit input::before {
  background-color: #217dbb;
}
.updateform .submit input a {
  text-decoration: none;
  display: block;
}
.updateform .submit .save {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: green;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  color: white;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  -webkit-transition: all .2s ease-in .5s;
  -moz-transition: all .2s ease-in .5s;
  -ms-transition: all .2s ease-in .5s;
  -o-transition: all .2s ease-in .5s;
  transition: all .2s ease-in .5s;
}
.updateform .submit .save:hover {
  -webkit-transition: all .2s ease-out 0;
  -moz-transition: all .2s ease-out 0;
  -ms-transition: all .2s ease-out 0;
  -o-transition: all .2s ease-out 0;
  transition: all .2s ease-out 0;
  background-color: #004d00;
}
.updateform .submit .save:hover::before {
  background-color: #001a00;
}
.updateform .submit .save:active {
  background-color: #003400;
}
.updateform .submit .save::before {
  background-color: #004d00;
}
.updateform .submit .save a {
  text-decoration: none;
  display: block;
}
.updateform .submit .delete {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: red;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  color: white;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  -webkit-transition: all .2s ease-in .5s;
  -moz-transition: all .2s ease-in .5s;
  -ms-transition: all .2s ease-in .5s;
  -o-transition: all .2s ease-in .5s;
  transition: all .2s ease-in .5s;
}
.updateform .submit .delete:hover {
  -webkit-transition: all .2s ease-out 0;
  -moz-transition: all .2s ease-out 0;
  -ms-transition: all .2s ease-out 0;
  -o-transition: all .2s ease-out 0;
  transition: all .2s ease-out 0;
  background-color: #cc0000;
}
.updateform .submit .delete:hover::before {
  background-color: #990000;
}
.updateform .submit .delete:active {
  background-color: #b30000;
}
.updateform .submit .delete::before {
  background-color: #cc0000;
}
.updateform .submit .delete a {
  text-decoration: none;
  display: block;
}
.updateform .submit .trash {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: #196090;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  color: white;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  -webkit-transition: all .2s ease-in .5s;
  -moz-transition: all .2s ease-in .5s;
  -ms-transition: all .2s ease-in .5s;
  -o-transition: all .2s ease-in .5s;
  transition: all .2s ease-in .5s;
}
.updateform .submit .trash:hover {
  -webkit-transition: all .2s ease-out 0;
  -moz-transition: all .2s ease-out 0;
  -ms-transition: all .2s ease-out 0;
  -o-transition: all .2s ease-out 0;
  transition: all .2s ease-out 0;
  background-color: #124364;
}
.updateform .submit .trash:hover::before {
  background-color: #0a2639;
}
.updateform .submit .trash:active {
  background-color: #0e354f;
}
.updateform .submit .trash::before {
  background-color: #124364;
}
.updateform .submit .trash a {
  text-decoration: none;
  display: block;
}
.updateform .submit .close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: #124364;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  color: white;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  -webkit-transition: all .2s ease-in .5s;
  -moz-transition: all .2s ease-in .5s;
  -ms-transition: all .2s ease-in .5s;
  -o-transition: all .2s ease-in .5s;
  transition: all .2s ease-in .5s;
}
.updateform .submit .close:hover {
  -webkit-transition: all .2s ease-out 0;
  -moz-transition: all .2s ease-out 0;
  -ms-transition: all .2s ease-out 0;
  -o-transition: all .2s ease-out 0;
  transition: all .2s ease-out 0;
  background-color: #0a2639;
}
.updateform .submit .close:hover::before {
  background-color: #02090e;
}
.updateform .submit .close:active {
  background-color: #061823;
}
.updateform .submit .close::before {
  background-color: #0a2639;
}
.updateform .submit .close a {
  text-decoration: none;
  display: block;
}
.info {
  display: block;
  list-style-type: none;
  border: 0;
  outline: none;
  padding: 0;
  font-weight: normal;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
  padding: 1em;
  background-color: #b6daf2;
  margin: 1em 0;
  border-radius: 1em;
}
.info a {
  text-decoration: none;
}
.field-list .field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1em 0;
}
.field-list .field-group .field-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: .5em;
  margin-bottom: .3em;
}
.field-list .field-group .field-item:last-child {
  margin-right: 0;
}
.field-list .field-group .field-item label {
  margin-left: 1em;
  font-weight: bold;
  color: #5d5d5d;
  font-size: .8em;
}
.field-list .field-group .field-item input {
  display: block;
  list-style-type: none;
  border: 0;
  outline: none;
  padding: 0;
  font-weight: normal;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #eee;
}
.field-list .field-group .field-item input a {
  text-decoration: none;
}
.field-list .inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#addmore {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: #3498db;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  color: white;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  background-image: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.05));
  -webkit-transition: all .2s ease-in .5s;
  -moz-transition: all .2s ease-in .5s;
  -ms-transition: all .2s ease-in .5s;
  -o-transition: all .2s ease-in .5s;
  transition: all .2s ease-in .5s;
}
#addmore:hover {
  -webkit-transition: all .2s ease-out 0;
  -moz-transition: all .2s ease-out 0;
  -ms-transition: all .2s ease-out 0;
  -o-transition: all .2s ease-out 0;
  transition: all .2s ease-out 0;
  background-color: #217dbb;
}
#addmore:hover::before {
  background-color: #196090;
}
#addmore:active {
  background-color: #1d6fa5;
}
#addmore::before {
  background-color: #217dbb;
}
#addmore a {
  text-decoration: none;
  display: block;
}
.removeitem {
  color: red;
  font-weight: bold;
  font-size: 1em;
  padding-top: 1em;
  cursor: pointer;
}
