@import "normalize";
@import "classes";

/**
* Fonts
*/

.font {
  font-family: "Source Sans Pro", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/**
* Colors
*/
@color_base: #3498db;

/**
* General CSS
*/
address {
  .reset;
}
.msg {
  padding: 1em;
  font-weight: bold;
  background:white;
  color: @color_base;
  border-radius: 3px;
  margin: 1em 0;
  border: 2px solid @color_base;
  a {
    color: white;
    background: @color_base;
    border-radius: 3px;
    padding: 0 .3em;
    .transition;
    &:hover {
      background: darken(@color_base,10%);
    }
  }
  .error {
    color: red;
  }
}
body {
  background-color: #eeeaea;
  color: #24292e;
  .font;
  img {
    background-color: transparent;
  }
}
a {
  .reset;
  display: inline;
  color: @color_base;
  font-weight: bold;
  .transition;
  &:hover {
  }
}
q {
  quotes: "\00ab" "\00bb";
}


/**
* | ============ | *
* | Specific CSS | *
* | ============ | *
*/

header {
  .flex;
  .center;
  .justify-content(space-between);
  .gradient(35deg,darken(@color_base,30%),darken(@color_base,40%));
  color: white;
  padding: 1em;
  .curdate {
    font-size: .8em;
    font-weight: bold;
    @media (max-width: 980px) {
      display: none;
    }
  }
  h1 {
    color: @color_base
    a {
      color: white;
    }
    span {
      @media (max-width:760px) {
        display: none;
      }
    }
  }
  nav {
    ul {
      .reset;
      li {
        input {
          .button(@color_base);
          color: white;
        }
      }
    }
  }
}

main {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}
.sort-items {
  ul {
    .reset;
    .flex;
    width: 100%;
    overflow-x: auto;
    li {
      a {
        .reset;
        padding: 1em;
      }
      .removefilter {
        color: red;
      }
      .current {
        font-weight: bold;
      }
    }
  }
}
.items {
  .transition;
  margin: .5em;
  .item {
    .reset;
    padding: 1em;
    border: 1px solid #eee;
    background-color: #fafafa;
    .box-shadow(0,0,1em,-.5em,fade(black,30%));
    margin-bottom: .5em;
    border-radius: 1em;
    .flex;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      // background-color: #eee;
    }
    .dateCreated {
      .flex;
      .flex-direction-column;
      .center;
      margin-right: 1em;
      .day {
        border: 2px solid @color_base;
        border-radius: .3em;
        padding: 1em;
      }
      .month {
        text-transform: uppercase;
        font-size: .9em;
        margin-top: .3em;
        font-weight: bold;
      }
      .year {
        font-size: .8em;
      }
    }
    .content {
      .renr {
        color: #222;
        font-size: .8em;
      }
      .name {
        font-size: 1.5em;
        .company {
          color: darken(@color_base,30%);
        }
      }
    }
    &:hover {
      background: lighten(@color_base,30%);
    }
    &:active {
      background: #bab6b6;
    }
  }
  .trashed {
    opacity: .5;
    color: rgb(148, 148, 148);
  }
}

.updateform {
  padding: 1em;
  border: 1px solid #eee;
  background-color: #fafafa;
  .box-shadow(0,0,1em,-.5em,fade(black,30%));
  border-radius: 1em;
  margin: .5em;
  h2 {
    color: @color_base;
  }
  .submit {
    margin-bottom: .5em;
    input {
      .button(@color_base);
    }
    .save {
      // Save
      .button(green);
    }
    .pdf {
      // Create PDF

    }
    .download {
      // Download PDF
    }
    .updatepdf {
      // Update PDF
    }
    .restore {
      // Restore
    }
    .delete {
      // Delete
      .button(red);
    }
    .trash {
      // Trash
      .button(darken(@color_base,20%));
    }
    .close {
      // close
      .button(darken(@color_base,30%));
    }
  }
}


.info {
  .reset;
  padding: 1em;
  background-color: lighten(@color_base,30%);
  margin: 1em 0;
  border-radius: 1em;
}

.field-list {
  .field-group {
    .flex;
    .flex-direction-column;
    margin: 1em 0;
    .field-item {
      .flex;
      .flex-direction-column;
      margin-right: .5em;
      margin-bottom: .3em;
      &:last-child {
        margin-right: 0;
      }
      label {
        margin-left: 1em;
        font-weight: bold;
        color: rgb(93, 93, 93);
        font-size: .8em;
      }
      input {
        .reset;
        padding: 1em;
        border-radius: 1em;
        border: 1px solid #eee;
      }
    }
  }
  .inline {
    .flex;
    .flex-direction-row;
    .flex-wrap;
  }
}

#addmore {
  .button(@color_base);
}
.removeitem {
  color: red;
  font-weight: bold;
  font-size: 1em;
  padding-top: 1em;
  cursor: pointer;
}
